@font-face {
  font-family: "Myriad Pro";
  src: url('myriadpro-regular-webfont.eot');
  src: url('myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('myriadpro-regular-webfont.woff') format('woff'),
     url('myriadpro-regular-webfont.ttf') format('truetype'),
     url('myriadpro-regular-webfont.svg#Myriad%20Pro') format('svg');
}