th#event-name, th#override-member-name {
    width: 30%;
}

td#override-member-name-cell {
    vertical-align: middle;
}

th#author, th#publish-datetime, th#event-end-datetime, th#event-location, th#event-num-attendees {
    white-space: nowrap;
}

.btn-back {
    float: right;
    margin-top: 2px; /* line up with h1 header */
}